footer {
    position: relative;
    width: 100%;
    height: 60%;
    padding-top: 20px;
    bottom: 2px;
    background-color: #800000;
  }
  
  .container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
  }
  .logo{
    height: 180px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .wrapper .footer-widget {
    width: calc(20% - 30px);
    margin: 0 15px 30px;
    padding: 0 12px;
  }
  
  .wrapper .footer-widget:nth-child(1) {
    width: calc(40% - 50px);
    margin-right: 30px;
  }
  
  .wrapper .footer-widget .logo {
    margin-bottom: 20px;
    vertical-align: middle;
  }
  
  .wrapper .footer-widget p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    
  }
  
  .wrapper .footer-widget .socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .wrapper .footer-widget .socials li {
    list-style: none;
  }
  
  .wrapper .footer-widget .socials li a {
    width: 44px;
    height: 20px;
    margin-right: 10px;
    color: #ffffff;
    background-color:#FFDB58(3, 127, 243, 0.5);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
  }
  
  .wrapper .footer-widget .socials li a:hover {
    background-color: #FFDB58;
  }
  
  .wrapper .footer-widget h6 {
    color: #f5f5f5;
    margin: 30px 0 5px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .wrapper .footer-widget .links li {
    list-style: none;
  }
  
  .wrapper .footer-widget .links li a {
    color: #f5f5f5;
    font-size: 16px;
    text-decoration: none;
    line-height: 35px;
    transition: all 0.3s ease-out;
  }
  
  .wrapper .footer-widget .links li a:hover {
    color: #FFDB58;
  }
  
  .copyright-wrapper {
    padding: 20px 0;
    padding-top: 8px;
    padding-bottom: 5px;
    border-top: 1px solid #f5f5f5;
  }
  
  .copyright-wrapper p {
    color: #f5f5f5;
    font-size: 14px;
    text-align: center;
  }
  
  .copyright-wrapper p a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease-out;
  }
  
  .copyright-wrapper p a:hover {
    color: #FFDB58;
  }
  
  /* Let's write the media query */
  @media (max-width: 992px) {
    .container {
      max-width: 960px;
    }
  
    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
      width: calc(50% - 30px);
    }
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 720px;
    }
  
    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
      width: 100%;
      margin: 0 10px 50px;
    }
  }
  