@import 'css/nav.css';
@import 'css/home.css';

.product-details{
    width: 100%;
    padding: 60px 10vw;
    display: flex;
    justify-content: space-between;
}

.image-slider{
    width: 500px;
    height:500px;
    position: relative;
} 
.image-slider .sample{
    width: 450px;
    height: 550px;
    position: relative;
    margin-bottom: 40px;
    margin-left: 90px;
}

.details{
    width: 50%;
}

.details .product-brand{
    text-transform: capitalize;
    font-size: 30px;
}

.details .product-short-des{
    font-size: 25px;
    line-height: 30px;
    height: auto;
    margin: 15px 0 30px;
}

.selectproduct-price{
    font-weight: 700;
    font-size: 30px;
}

.selectprice{
    font-weight: 900;
    font-size: 20px;
}

.product-sub-heading{
    font-size: 30px;
    margin: 60px 0 10px;
    font-weight: 300;
}
.size-radio-btn{
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #800000;
    border-radius: 50%;
    margin: 10px;
    margin-left: 0;
    line-height: 80px;
    text-transform: uppercase;
    color: #800000;
    cursor: pointer;
}

.size-radio-btn.check{
    background: #800000;
    color: #fff;
}
/*confirm button*/
.btn {
    width: 48%;
    padding: 20px;
    border-radius: 5px;
    background: #800000;
    border: 1px solid #800000;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;
    
}
.btn:hover{
    background: #fff;
   color: #800000;
}

.selectproduct-category{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 10px;
}
.selectproduct-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: hidden;
}
.selectproduct-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 30px;
    color:black;
    margin-top: 0px;
}
.selectproduct-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    top: 0px;
}
.selectproduct-info{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.selectproduct-brand{
    font-size: 20px;
}

.selproduct-short-des{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow-x: hidden;
    opacity: 0.5;
    margin: 5px 0;
}
.selectproduct{
    position: relative;
    overflow-x: hidden;
    padding: 20px 0;
}
/*arrow*/

.pre-btn, .nxt-btn{
    border: none;
    width: 5vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    cursor: pointer;
    z-index: 8;
    margin-right: 0px;
}
/*arrow*/
.pre-btn{
    margin-left: 0px;
    transform: rotate(180deg);
}

.nxt-btn{
    right: 0;
}

.pre-btn img, .nxt-btn img{
    opacity: 0.5;
}

.pre-btn:hover img, .nxt-btn:hover img{
    opacity: 1;
}
/*add to cart*/
.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}
.selectproduct-card:hover .card-btn{
    opacity: 1;
}

.card-btn:hover{
    background: #e6e4e4;
}