.sizechart{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    background-color: #a9a9aa;
}
.sizechart-category{
    padding: 0 10vw;
    font-size: 60px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.sizechart-image{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}