
  .head-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
  }
  .head-title.left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
  }
  .head-title.left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
  }
  .head-title.left .breadcrumb li {
    color: var(--dark);
  }
  .head-title.left .breadcrumb li a {
    color: var(--dark-grey);
    pointer-events: none;
  }
  .head-title.left .breadcrumb li a.active {
    color: var(--blue);
    pointer-events: unset;
  }
 

  .products-table {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	margin-left: 100px;
	width: 85%;
	color: var(--dark);
}
 .products-table > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
 .products-table .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
 .products-table .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
 .products-table .head .bx {
	cursor: pointer;
}

 .products-table .order {
	flex-grow: 1;
	flex-basis: 300px;
}
 .products-table .order table {
	width: 70%;
	border-collapse: collapse;
}
/*products column*/
 .products-table .order table th {
	padding-bottom: 12px;
	font-size: 14px;
	text-align: center;
	border-bottom: 2px solid var(--grey);
	padding: 25px, 0;
    padding-right:60px;
}
 .products-table .order table td {
	padding: 20px 0;
    

}
.products-table .order table tbody td p{
    padding-left: 2px;
}
 .products-table .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 20px;
}
 .products-table .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}

 .products-table .order table tbody tr:hover {
	background: var(--grey);
}
/*laman ng buttons at size ng buttons*/
 .products-table .order table tr td .status {
	font-size: 10px;
	padding: 6px 40px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
 /*buttons*/
.status.edit {
	/* background: var(--blue); */
	background: blue;
	font-size: 10px;
    
}
.status.delete {
	background:#FFC300 ;
	font-size:10px;
	
} 